webapp/XSD/expertises.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.NCar.com/expertises.xsd"
    targetNamespace="http://www.NCar.com/expertises.xsd"
    xmlns:c="http://www.NCar.com/commonTypes.xsd"
    elementFormDefault="qualified">

    <xs:import schemaLocation="commonTypes.xsd" namespace="http://www.NCar.com/commonTypes.xsd"></xs:import>


    <!-- Conjunto de peritagens -->
    <xs:element name="expertises">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partnerName" type="c:identificationType" minOccurs="1" maxOccurs="1" />
                <xs:element name="expertiseName" type="c:identificationType" minOccurs="1" maxOccurs="1" />
                <xs:element name="date" type="xs:date" minOccurs="1" maxOccurs="1" /> <!-- Atributo adicional do dia, a hora e min são obrigatorios -->
                <xs:element name="expertise" type="expertiseType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ComplexType expertises -->
    <xs:complexType name="expertiseType">
        <xs:sequence>
            <xs:element name="code" type="c:codeType" minOccurs="1" maxOccurs="1" />
            <xs:element name="start" type="xs:time" minOccurs="1" maxOccurs="1" /> <!-- Atributo adicional do dia, a hora e min são obrigatorios -->
            <xs:element name="end" type="xs:time" minOccurs="1" maxOccurs="1" /> <!-- Atributo adicional do dia, a hora e min são obrigatorios -->
       
            <xs:element name="status" type="statusType" minOccurs="1" maxOccurs="1" />
            <xs:element name="entity" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="name" type="c:identificationType" minOccurs="1" maxOccurs="1" /> <!-- AlfaNumérico, não devemos alterar? -->
                        <xs:element name="EntityType" type="c:entityType" minOccurs="1" maxOccurs="1" />
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <xs:element name="checkList">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="battery" type="batteryType" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="oilLevel" type="oilLevelType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="engineTransmission" type="engineTransmissionType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="refrigerationSystem" type="refrigerationSystemType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="engineSupport" type="engineSupportType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="engineSound" type="engineSoundType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="gases" type="gasesType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="gearBox" type="gearBoxType" minOccurs="1" maxOccurs="1" />
                        <xs:element name="kms" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            
        </xs:sequence>
    </xs:complexType>

    <!-- ComplexType para status -->
    <!-- caso seja realizada escolhemos o elemento "realised" que por defeito tem o valor "yes" -->
    <!-- caso não seja realizada, utiliza um tipo complexo que tem 3 elementos possíveis a catalogar -->
    <!-- elementos esses vão ser assinalados com um "X" por defeito quando chamamos o elemento -->

    <xs:annotation>
        <xs:documentation>Regras para definição elemento "status"/estado</xs:documentation>
    </xs:annotation>

     <!-- Caso seja realizado não é chamado o elemento status, senão é chamado o elemento Stats-->

    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="notRealised" type="notRealisedType"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Caso seja catalogado com "Other" utiliza o simpleType "descriptionType" para definir
    uma descrição no máximo de 400 caracteres-->

    <xs:complexType name="notRealisedType">
        <xs:choice>
            <xs:element name="inaccessibleLocation" fixed="yes" />
            <xs:element name="missingVehicle" fixed="yes" />
            <xs:element name="Other" type="c:descriptionType" />
        </xs:choice>
    </xs:complexType>


    <xs:complexType name="batteryType">
        <xs:choice>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Weak" />
                        <xs:enumeration value="Not Working" />
                        <xs:enumeration value="Jump Start" />
                        <xs:enumeration value="Discharging light glowing" />
                        <xs:enumeration value="Intermittent functioning" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="oilLevelType">
        <xs:choice>
            <xs:element name="status" minOccurs="1" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Dirty" />
                        <xs:enumeration value="Leakage from Side cover" />
                        <xs:enumeration value="Leakage from Sump/chambe" />
                        <xs:enumeration value="Leakage from Tappet Cover" />
                        <xs:enumeration value="Leakage from Turbo Charger" />
                        <xs:enumeration value="Leaking" />
                        <xs:enumeration value="Level Low" />
                        <xs:enumeration value="Low Pressure warning light glowing" />
                        <xs:enumeration value="Mixed with Coolantg" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="engineTransmissionType">
        <xs:choice>
            <xs:element name="status" minOccurs="1" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Car not working on Petrol" />
                        <xs:enumeration value="Fuel Leakage From Injector" />
                        <xs:enumeration value="MIL light glowing" />
                        <xs:enumeration value="Misfiring " />
                        <xs:enumeration value="Not converting to CNG" />
                        <xs:enumeration value="Over heating" />
                        <xs:enumeration value="RPM fluctuating " />
                        <xs:enumeration value="RPM not increasing" />
                        <xs:enumeration value="Repaired" />
                        <xs:enumeration value="Seized" />
                        <xs:enumeration value="Sump Damaged" />
                        <xs:enumeration value="Turbo charger not working" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>


    <xs:complexType name="refrigerationSystemType">
        <xs:choice>
            <xs:element name="status" minOccurs="1" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Dirty" />
                        <xs:enumeration value="Leaking”" />
                        <xs:enumeration value="Mixed with Engine Oil" />
                        <xs:enumeration value="Radiator Damaged" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="engineSupportType">
        <xs:choice>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Broken" />
                        <xs:enumeration value="Excess Vibration" />
                        <xs:enumeration value="Loose" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="engineSoundType">
        <xs:choice>
            <xs:element name="status" minOccurs="1" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Alternator Brg Noise" />
                        <xs:enumeration value="Engine Auxiliary Noise" />
                        <xs:enumeration value="Injector Noise" />
                        <xs:enumeration value="Tappet Noise" />
                        <xs:enumeration value="Timing Noise" />
                        <xs:enumeration value="Water Pump BrgNoise" />
                        <xs:enumeration value="Whistling Noise-Turbo" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="gasesType">
        <xs:choice>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Black" />
                        <xs:enumeration value="Blue" />
                        <xs:enumeration value="Leakage from manifold" />
                        <xs:enumeration value="Noise from silencer assembly" />
                        <xs:enumeration value="Silencer assembly damaged" />
                        <xs:enumeration value="White" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="gearBoxType">
        <xs:choice>
            <xs:element name="status" minOccurs="1" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Auto Transmission Not Satisfactory" />
                        <xs:enumeration value="Bearing Noise" />
                        <xs:enumeration value="Burning" />
                        <xs:enumeration value="Hard" />
                        <xs:enumeration value="Low Pick Up" />
                        <xs:enumeration value="Slip" />
                        <xs:enumeration value="Spongy" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="conformidade" fixed="yes"></xs:element>
        </xs:choice>
    </xs:complexType>


</xs:schema>


     